/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
  --primary-color: #1a202c;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  color: #373a3c;
}

svg {
  width: 2rem;
  height: auto;
}

form input {
  @apply mb-4;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.nav-link {
  @apply block px-5 py-2 rounded truncate;

  &:hover,
  &.active {
    @apply bg-gray-800;
  }
}

.nav-tab-link {
  @apply block truncate px-4 py-2 text-sm text-gray-700 border-b-2 border-transparent;
  &.active {
    @apply text-green-500 border-green-500;
  }
}

.feed-card-wrapper {
  @apply border-b border-gray-300 mb-5;
  &:last-child {
    @apply border-none;
  }
}

.input-text {
  @apply shadow-xs border rounded w-full py-3 px-6 text-gray-700 text-xl leading-5;
  &:focus {
    @apply outline-none shadow-outline;
  }
}
